h1
   {
    font-size:40px;
    font-style:bold;
    color:black;
    font-family:arial;
   }
h6
   {
    font-size:15px;
    color:black;
    font-family:arial;
   }
p
{
 font-size:700px;
 color:black;
 font-family:arial;
}
.h8
   {
    font-size:70px;
    font-style: bold;
    font-family:Times New Roman;
   }